<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="f-info">

        <div class="f-info-socials">
            <span><i class="fa-brands fa-instagram"></i></span>
            <span><i class="fa-brands fa-facebook"></i></span>
            <span><i class="fa-brands fa-x-twitter"></i></span>
        </div>
        <div> &copy; wandrella privte ltd.</div>
        <div class="f-info-links">
            <a href="/privacy"> privacy</a>
            <a href="/terms"> terms</a>
            <a href="/about"> about</a>
        </div>
    </div>
</body>
</html>